{% extends 'base.html' %}

{% block title %} Список товаров {% endblock %}
{% load my_tags %}
{% block content %}
{% load my_tags %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">

                <div class="card shadow-sm">
                    <img src="{{products.image | media_filter}}">
                    <div class="card-body">
                        <p class="card-text">{{products.name}}</p>
                        <p class="card-text">{{products.description}}</p>
                        <p class="card-text">{{products.category}}</p>
                        <p class="card-text">{{products.price}}</p>
                        <a class="p-2 btn btn-outline-primary" href="#">Купить</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


{% include 'header.html' %}
</div>
{% endblock %}