{% extends 'base.html' %}

{% block title %} Карта товара {% endblock %}
{% load my_tags %}
{% block content %}


<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{post.image | media_filter}}">
                    <div class="card-body">
                        <p class="card-text">{{post.heading}}</p>
                        <p class="card-text">{{post.description | truncatechars:100}}</p>
                        <p class="card-text">{{post.created_at}}</p>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'my_blog:reform_post' post.id %}">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'header.html' %}
{% endblock %}